<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SampleFiles" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <system.diagnostics>
    <switches>
      <!-- You must use integral values for "value".
           Use 0 for off, 1 for error, 2 for warn, 3 for info, and 4 for verbose. -->
      <!-- 4 is known to cause 'System.OutOfMeoryException, 3 is ideal for debugging-->
      <add name="EqtTraceLevel" value="3" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <!-- Coded UI Settings -->
    <add key="ClearBrowserAtTestStart" value="true" />
    <add key="EnableHtmlLogger" value="true" />
    <!-- ****************** Generic settings ****************** -->
    <add key="DocLibNamePrefix" value="MWSDocLib_" />
    <add key="CustomListNamePrefix" value="MWSList_" />
    <add key="TaskNamePrefix" value="MWSTask_" />
    <add key="WikiNamePrefix" value="MWSWiki_" />
    <add key="webNamePrefix" value="MWSWeb_" />
    <add key="webPartNamePrefix" value="MWSWebPart_" />
    <add key="WorkflowNamePrefix" value="MWSWorkflow_" />
    <add key="AlertNamePrefix" value="MWSAlert_" />
    <add key="TagtNamePrefix" value="MWSTag_" />
    <add key="BlogNamePrefix" value="MWSBlog_" />
    <add key="DiscSubjectPrefix" value="MWSDiscussion_" />
    <add key="PromotedResultPrefix" value="MWSPromotedResult_" />
    <add key="TemplatePrefix" value="MWSTemplate_" />
    <add key="siteCollectionGroupNamePrefix" value="MWSSiteCollectionGroup_" />
    <add key="userProfilePicture" value="MrCoolProfilePicture.JPG" />
    <add key="userProfilePicture" value="MrCoolProfilePicture.JPG" />
    <add key="SampleFileBig" value="SampleFile2013_02_Big.docx" />
    <add key="SampleFileOverPersonalQuota" value="SampleFile2013_03_100MB.txt" />
    <add key="SearchDocument" value="How to use this library" /> 
    <add key="SearchText" value="share knowledge, brainstorm ideas, collaborate" />
    <add key="SearchTextSimple" value="library" />
    <!-- Wait is in milliseconds -->
    <add key="Wait" value="5000" />
    <!-- ****************** DEV - Environment Specific settings ****************** -->
    <!--
<add key="TeamSiteURL" value="http://shpt-app-13a/sites/MWS/" />
    <add key="MySitesURL" value="http://shpt-app-13a/my/"/>
    <add key="CommunitiesSiteURL" value="http://shpt-app-13a/sites/MWSCommunity"/>
    <add key="SiteCollectionUserName" value="DEV\sskoklev" />
    <add key="SiteCollectionPassword" value="p@ssw0rd" />
    <add key="SiteOwnerUserName" value="DEV\arose" />
    <add key="SiteOwnerPassword" value="p@ssw0rd" />
    <add key="SiteMemberUserName" value="DEV\mgibbs" />
    <add key="SiteMemberPassword" value="p@ssw0rd" />
    <add key="SiteVisitorUserName" value="DEV\dball" />
    <add key="SiteVisitorPassword" value="p@ssw0rd" />
    <add key="NoPermissionSiteUserName" value="DEV\mkrynina" />
    <add key="NoPermissionSitePassword" value="p@ssw0rd" />
    <add key="UserName" value="arose" />
    <add key="SampleFilePath" value="C:\MWS\CUIT\SharePoint\MWS.SharePoint.CUIT\SampleFiles\" />
    <add key="TestOutputFolder" value="C:\MWS\Logs\ShPt_CUIT" />
    <add key="SearchPerson" value="Stiven Skoklevski" />
  -->
    <!-- ****************** CDC - Environment Specific settings ****************** -->
   <add key="TeamSiteURL" value="https://test-teams.demo3.local/" />
  <add key="MySitesURL" value="https://my.demo3.local/"/>
  <add key="CommunitiesSiteURL" value="https://test-communities.demo3.local/"/>  
  <add key="SearchURL" value="https://search.demo3.local/"/>
  <add key="SiteCollectionUserName" value="demo3\agilitydeploy" />
  <add key="SiteCollectionPassword" value="M3sh@dmin!" />
  <add key="SiteOwnerUserName" value="demo3\sskoklevski" />
  <add key="SiteOwnerPassword" value="M3sh@dmin!" />
  <add key="SiteMemberUserName" value="demo3\mkrynina" />
  <add key="SiteMemberPassword" value="M3sh@dmin!" />
  <add key="SiteVisitorUserName" value="demo3\sp_tester1" />
  <add key="SiteVisitorPassword" value="M3sh@dmin!" />
  <add key="NoPermissionSiteUserName" value="demo3\dball" />
  <add key="NoPermissionSitePassword" value="p@ssw0rd" />
  <add key="UserName" value="sskoklevski />
  <add key="SampleFilePath" value="C:\MWS\CUIT\SharePoint\MWS.SharePoint.CUIT\SampleFiles\" />
  <add key="TestOutputFolder" value="C:\Projects\CUIT\Logs\ShPt_CUIT" />
    <add key="SearchPerson" value="Stiven Skoklevski" />
    <!-- ****************** PDC - Environment Specific settings ****************** -->
    <!--
  <add key="TeamSiteURL" value="https://test-teams.mwsaust.net/" />
  <add key="MySitesURL" value="https://my.mwsaust.net/"/>
  <add key="CommunitiesSiteURL" value="https://test-communities.mwsaust.net/"/>  
  <add key="SearchURL" value="https://search.mwsaust.net/"/>
  <add key="SiteCollectionUserName" value="client\agilitydeploy" />
  <add key="SiteCollectionPassword" value="M3sh@dmin!" />
  <add key="SiteOwnerUserName" value="client\arose" />
  <add key="SiteOwnerPassword" value="mws2Passw0rd" />
  <add key="SiteMemberUserName" value="client\veaton" />
  <add key="SiteMemberPassword" value="mws2Passw0rd" />
  <add key="SiteVisitorUserName" value="client\vsantana" />
  <add key="SiteVisitorPassword" value="mws2Passw0rd" />
  <add key="NoPermissionSiteUserName" value="client\nbranch" />
  <add key="NoPermissionSitePassword" value="mws2Passw0rd" />
  <add key="UserName" value="arose" />
  <add key="SampleFilePath" value="C:\MWS\CUIT\CUITRelease\SampleFiles\" />
  <add key="TestOutputFolder" value="C:\MWS\Logs\ShPt_CUIT" />
    <add key="SearchPerson" value="A Rose" />

 -->
    <!-- Browser selection -->
    <add key="Browser" value="Ie" />
    <!--<add key="Browser" value="Firefox"/>-->
    <!--<add key="Browser" value="Chrome"/>-->
    <!-- Used for shared methods-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- File names exclusing file paths -->
  <SampleFiles>
    <add key="SampleFile2013_01.docx" value="SampleFile2013_01.docx" />
    <!--<add key="SampleFile97-2003_01.doc" value="SampleFile97-2003_01.doc" />
    <add key="SampleFile2013_01.xlsx" value="SampleFile2013_01.xlsx" />
    <add key="SampleFile97-2003_01.xlsx" value="SampleFile97-2003_01.xlsx" />
    <add key="SampleFile_01.pdf" value="SampleFile_01.pdf" />-->
  </SampleFiles>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>